@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0 ;
        flex: 0 0 calc(100%/8);
    }
}
.carousel-inner{
    padding: 1em;
}

.carousel-control-prev,.carousel-control-next{
    background-color: indigo;
    border: 50%;
}