{% extends 'base.html.twig' %}
{% block title %}Change Password
{% endblock %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{# <section class="vh-100" style="background-color: #248f8f;">
</section> #}
<!-- Section: Design Block -->
<section class="vh-100" style="background-color: #248f8f;"> <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container mt-5 py-3">
            <div class="row justify-content-center align-items-center mt-5" style="margin-left: 133px;">

                <div class="col-lg-6 mb-5 mb-lg-0 mt-4 mt-5 py-5">
                    <div class="card" style="height: 390px;width: 350px;">
                        <div class="card-body py-5 px-md-5">
                            <form method="post">
                                <!-- 2 column grid layout with text inputs for the first and last names -->

                                <h1 class="pb-1 text-center">Change Password</h1>
                                <hr>
                                <!-- Email input -->
                                <div class="form-outline mb-1">
                                    {% if error=='true' %}
                                    <div class="alert alert-danger text-center">

                                        Mismatched new and confirmed password
                                        <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                                    </div>
                                    {% endif %}

                                    <label for="new">New Password</label>
                                    <input type="password" id="new" name="new_password"
                                        class="form-control form-control form-control-lg" required />
                                </div>
                                <div class="form-outline mb-2">

                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" id="confirm_password" name="con_password"
                                        class="form-control form-control form-control-lg" required />
                                </div>

                                <button class="btn btn-lg" style="width: 100%;background-color: #3c6363;color: white;"
                                    type="submit"> Change
                                </button>


                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button"
                                        class="btn btn-link btn-floating mx-1 bi bi-facebook"></button>

                                    <button type="button"
                                        class="btn btn-link btn-floating mx-1 bi bi-whatsapp"></button>

                                    <button type="button" class="btn btn-link btn-floating mx-1 bi bi-twitter"></button>

                                    <button type="button"
                                        class="btn btn-link btn-floating mx-1 bi bi-instagram"></button>
                                </div>
                                <input type="hidden" id="isChanged" value="{{is_changed}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
    $(document).ready(function () {
     
        var change = $('#isChanged').val();
        console.log(change);
        if (change == 'yes') {
            // swal({
            //     title: "Password changed Successfully",
            //     text: "Go for login",
            //     icon: 'success',
            //     button: "Ok",
            // });
            swal("Password changed Successfully", "Go for login", "success", {
                button: "Ok",
            }).then((value) => {
                window.location.replace("http://127.0.0.1:8000/login");
            });
           
        }
    })
</script>
{% endblock %}