<form action="" id='myForm' method="post" enctype="multipart/form-data">
    <label for="p_pic">
        {% if user.profile is null %}
            <img src="{{path('image_show',{path:'default',file: 'default.png'})}}"
            alt="profile picture| BookWorm" class="shadow-lg new_img"
            style="border: 4px solid rgb(165, 165, 163); height:100px; width:100px;margin-left: 100px;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;"
            itemprop="image">
        {% else %}
            <img src="{{path('image_show',{path:'profiles',file: user.profile})}}" alt="profile picture| BookWorm"
            class="shadow-lg new_img"
            style="border: 4px solid rgb(165, 165, 163); height:100px; width:100px;margin-left: 100px;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;"
            itemprop="image">
        {% endif %}
    </label>
    <input type="file" id="p_pic" name="profile_pic" accept=".jpg,.jpeg,.png,.webp" style="display: none;" mapped=false>
</form>